/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Noto Sans KR', sans-serif;
	}
	body {
		-webkit-overflow-scrolling: touch;
		@apply font-light
	}

	.main-project-wrapper:hover .main-project-image {
		@apply scale-110;
	}

	.main-project-title {
	@apply invisible;
	}

	input.click-box:checked + .main-project-image > .main-project-title {
		@apply visible;
	}
}
